body {
    --app-width: 100vw;
    --app-height: 100vh;
    --status-bar-h: 24px;
    --left-panel-width: 250px
}

.status-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: var(--app-width);
    height: var(--status-bar-h);
    background-color: #ffffffe6;
    backdrop-filter: blur(5px);
    align-items: center;
    display: flex;
}

.status-bar div {
    padding: 2px 7px;
    border-left: 1px solid white;
    border-right: 1px solid lightgray;
}


nav {
    display: flex;
    padding: 10px;
    position: fixed;
    top: 5px;
    right: 5px;
    background: #ffffffb0;
    backdrop-filter: blur(5px);

    box-shadow: 0 0 39px #00000012;
    margin-bottom: 5px;
    border-radius: 20px;
}

nav a {
    padding: 5px;
    color: lightgray;
}

nav .active {
    color: black;
}


.tables {
    position: fixed;
    left: 0;
    top: 0;
    width: var(--left-panel-width);
    height: var(--app-height);
    border-right: 1px solid lightgray;
    overflow-y: auto;
    padding: 1px;
    scrollbar-width: none;
}

.table-item {
    padding: 10px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    border: 1px solid lightgray;
    margin: 2px;
    border-radius: 5px;
    box-shadow: 0 0 29px #0000001a;
}

.table-item-selected {
    background-color: azure;
}

.table-data {
    position: fixed;
    top: 5px;
    left: var(--left-panel-width);
    height: var(--app-height);
    overflow: auto;
    width: calc(var(--app-width) - var(--left-panel-width));

}

.table-row {
    max-width: 200px;
    max-height: 100px;
    overflow: auto;
    overflow-wrap: anywhere;
}

.table-super-item {
    position: sticky;
    left: var(--left-panel-width);
}


.dialog-pad {
    position: fixed;
    left: 0;
    top: 0;
    width: var(--app-width);
    height: var(--app-height);
    background-color: rgb(255 255 255 / 76%);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;

}

.dialog-window {
    margin-top: 10px;
    width: 500px;
    min-height: 120px;
    background: #f5f5f7;

    box-shadow: 0 0 10px #00000014;
    border-radius: 20px;
    border: 1px solid lightgray;
}


.dialog-header {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px;
}

.dialog-content {
    min-height: 150px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -1px;
    margin-right: -1px;
}

.dialog-footer {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
}